app.DB_CONNECTION=localhost:3306
app.DB_NAME=sampleDB
app.DB_USERNAME=yourusername
app.DB_PASSWORD=yourpassword
app.JWT_SECRET=yourlongjwtsecretkey
app.SPRING_PROFILES_ACTIVE=dev
app.TOKEN_EXPIRATION=3600000
